<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
                <link rel="stylesheet" th:href="@{/js/bootstrap.js}" href="../../js/bootstrap.js"/>
                <script th:src="@{/js/bootstrap.js}"></script>
                <link rel="stylesheet" th:href="@{/js/jquery.js}" href="../../js/jquery.js"/>
                <script th:src="@{/js/jquery.js}"></script>
        <link rel="stylesheet" th:href="@{/css/bootstrap_min.css}"/>
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/bootstrap.js}"></script>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    </div>
</head>
<body>


</body>
</html>