h1{
    color: #4a2bff;
}

h2{
    color: #ff171c;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.row.content {
    height: 450px
}

th{
    text-align: center;
}
td{
    width: 60px;
    height:60px;
    border: solid 1px silver;
    text-align:center;
}
#myNavbar{
    font-size: 15pt;
}

.header-title {
    position: relative;
    width: 100%;
    padding: 0 0 6px 0;
    margin: 0 0 10px 0;
    text-align: right;
    border-bottom: 1px solid #303030; }
.header-title .cell:first-child {
    max-width: calc(100vw - 370px); }
.header-title h1 {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
.header-title form {
    display: flex;
    justify-content: flex-end; }
.header-title ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 10px; }
.header-title .dashbrd-edit {
    position: relative;
    display: inline-block;
    background-color: #2b2b2b;
    -webkit-box-shadow: 0 0 0 4px #2b2b2b;
    -moz-box-shadow: 0 0 0 4px #2b2b2b;
    box-shadow: 0 0 0 4px #2b2b2b; }
.header-title .dashbrd-edit::after {
    content: "";
    position: absolute;
    min-height: 24px;
    z-index: -1;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 1px solid #303030; }
.header-title .dashbrd-edit ul li {
    vertical-align: middle; }
.header-title .dashbrd-edit ul li:first-child {
    padding: 0; }
.header-title .dashbrd-edit ul li .btn-dashbrd-conf {
    vertical-align: middle; }