<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title >Admin Home</title>
	<div th:replace="fragments/header :: header-css"></div>
</head>
<body th:inline="text">
<div th:replace="fragments/admin_header :: header"></div>
	<p style="text-align: center;font-size: 20pt">Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)!!!</p>

</div>
<h1>This is admin home page</h1>
</body>
</html>